@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center
}

* {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

body {
  background-color: #030A17;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background-color: #030A17;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  justify-content: space-evenly;
}

.quiz-logo {
  position: fixed;
  top: 0;
  left: 30px;
}

.host-link {
  position: fixed;
  top: 45px;
  right: 55px;
  font-size: 30px;
}

/* HOMEPAGE */
.ready-graphic {
  margin-left: auto;
  margin-right: auto;
}

.start-form {
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.start-button {
  margin-top: 20px;
  width: 294px;
  font-size: 25px;
  background-color: #A41ABB;
  border-radius: 5px;
  display: initial;
  justify-content: flex-start;
  align-items: center;
  border: 0px solid #ffffff; 
  cursor: pointer;
  margin: 9px;
}

.start-button:hover {
  background-color: #A41ABB;
}

.host-home-button {
  width: 294px;
  font-size: 25px;
  background-color: #030A17;
  border-radius: 5px;
  display: initial;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #A41ABB; 
  cursor: pointer;
  margin: 9px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.host-home-button:hover {
  background-color: #030A17;
}

.button-leave {
  width: 294px;
  font-size: 25px;
  background-color: #030A17;
  border-radius: 5px;
  display: initial;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #A41ABB; 
  cursor: pointer;
  margin: 9px;
}

form {
  display: inline-block;
}

input {
  width: 285px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  background-color: #191E24;
  border-radius: 5px;
  display: initial;
  justify-content: flex-start;
  align-items: center;
  margin: 9px;
}

.score-section {
  font-size: 24px;
  align-items: center;
  text-align: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.timer {
  position: fixed;
  font-size: 60px;
  top: 30px;
  right: 30px;
}

.question-section {
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.button-normal {
  width: 100%;
  font-size: 30px;
  background-color: #191E24;
  border-radius: 5px;
  display: initial;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #234668; 
  cursor: pointer;
}

.button-selected {
  width: 100%;
  font-size: 30px;
  background-color: #A41ABB;
  border-radius: 5px;
  display: initial;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #234668; 
  cursor: pointer;
}

.button-correct {
  width: 100%;
  font-size: 30px;
  background-color: #4DB1B1;
  border-radius: 5px;
  display: initial;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #234668; 
  cursor: pointer;
}

.button-normal:disabled {
  cursor: default;
}

.button-selected:disabled {
  cursor: default;
}

.button-correct:disabled {
  cursor: default;
}

.button-normal:hover:enabled {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* LEADERBOARD */
.leaderboard {
  position: relative;
  text-align: center;
}

.leaderboard-text {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HOST */
.host-text {
  font-size: 30px;
  padding: 20px;
  position: relative;
  text-align: center;
}

.host-form {
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.host-button {
  width: 294px;
  font-size: 25px;
  background-color: #A41ABB;
  border-radius: 5px;
  display: initial;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #A41ABB; 
  cursor: pointer;
  margin: 9px;
}

.host-button:hover {
  background-color: #A41ABB;
}

/* WAITING */
.waiting {
  padding: 10px;
  margin-top: 120px;
  position: relative;
  text-align: center;
}

.quiz-name {
  font-size: 45px;
  position: relative;
  text-align: center;
}

.waiting-text {
  font-size: 30px;
  padding: 20px;
  position: relative;
  text-align: center;
}
@media 
only screen and (max-width: 425px),
(min-device-width: 320px) and (max-device-width: 425px)  {

	.answer-section { 
    display: block; 
    margin-left: 1.2vh;
  }
  .question {
    margin-left: 10vh;
    margin-right: 10vh;
    font-size: larger;
  }
  * {
    margin-bottom: auto;
  }
  .quiz-logo {
    position: relative;
    left: 0;
  }
}

.quiz-id-button {
  width: 294px;
  font-size: 25px;
  background-color: #4DB1B1;
  border-radius: 5px;
  display: initial;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #4DB1B1; 
  cursor: default;
  margin: 9px;
}

.quiz-id-button:hover {
  background-color: #4DB1B1;
}

/* LOADING SPINNER */
@keyframes ldio-ctuwgjg8ktk {
   0% { transform: translate(20px,88px) scale(0); }
  25% { transform: translate(20px,88px) scale(0); }
  50% { transform: translate(20px,88px) scale(1); }
  75% { transform: translate(88px,88px) scale(1); }
 100% { transform: translate(156px,88px) scale(1); }
}
@keyframes ldio-ctuwgjg8ktk-r {
   0% { transform: translate(156px,88px) scale(1); }
 100% { transform: translate(156px,88px) scale(0); }
}
@keyframes ldio-ctuwgjg8ktk-c {
   0% { background: #ffffff }
  25% { background: #ffffff }
  50% { background: #ffffff }
  75% { background: #ffffff }
 100% { background: #ffffff }
}
.ldio-ctuwgjg8ktk div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: translate(88px,88px) scale(1);
  background: #ffffff;
  animation: ldio-ctuwgjg8ktk 4s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-ctuwgjg8ktk div:nth-child(1) {
  background: #ffffff;
  transform: translate(156px,88px) scale(1);
  animation: ldio-ctuwgjg8ktk-r 1s infinite cubic-bezier(0,0.5,0.5,1), ldio-ctuwgjg8ktk-c 4s infinite step-start;
}.ldio-ctuwgjg8ktk div:nth-child(2) {
  animation-delay: -1s;
  background: #ffffff;
}.ldio-ctuwgjg8ktk div:nth-child(3) {
  animation-delay: -2s;
  background: #ffffff;
}.ldio-ctuwgjg8ktk div:nth-child(4) {
  animation-delay: -3s;
  background: #ffffff;
}.ldio-ctuwgjg8ktk div:nth-child(5) {
  animation-delay: -4s;
  background: #ffffff;
}
.loadingio-spinner-ellipsis-8ty8wmpuhyh {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ctuwgjg8ktk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ctuwgjg8ktk div { box-sizing: content-box; }
/* generated by https://loading.io/ */